* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height:100vh;
}
.grid-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 960px;
}

.gridUnit{
  height: 20px;
  width: 20px;
  border-style: solid;
  background-color: white;

}

/* .gridpart:hover{
  background-color: gray;
} */